/*body {*/
/*    color: yellow;*/
/*    background-color: black;*/
/*}*/

.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding: 20px;
}

.sidenav a{
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  color: #818181;
  font-size: 25px;
  display: block;
}

.sidenav a:hover{
  color: #f1f1f1;
}

.main{
  margin: 5px 5px 5px 160px;
  width: 100%;
  padding: 0px;
}
