{% extends 'base.html' %}

{% block title %}Generacja belki{% endblock %}

{% block content %}
     <h1>Witaj projektancie</h1>
    <p>Studia skończyłem w 2013 roku. Obecnie pracuję w biurze projektowym. Zajmuje się obliczeniami konstrukcji oraz sporządzaniem rysunków technicznych i wykonawczych. Od 2021 roku posiadam uprawnienia do projektowania i kierowania robotami budowlanymi w specjalności konstrukcyjno-budowlanej.</p>
    <h3>Uczestniczyłem w opracowaniu projektów:</h3>
    <p>
        <li>Kielce - Rozbudowa RCKiK</li>
        <li>Kielce - Straż pożarna przy ulicy Sandomierskiej</li>
        <li>Kielce - Prokuratura Okręgowa przy ulicy Mickiewicza/Wesołej</li>
        <li>Kielce - Centrum Urazowe przy Szpitalu Wojewódzkim</li>
        <li>Kielce - Lidl przy ulicy Szajnowicza</li>
        <li>Kielce - Lidl przy ulicy Piekoszowskiej</li>
        <li>Brzeziny - Budynek biurowy i laboratoryjny dla GDDKiA</li>
        <li>Wola Morawicka - Szkoła podstawowa</li>
        <li>Łopuszno - Szkoła podstawowa</li>
        <li>Kielce - Budynek laboratoriów dla Politechniki Świętokrzyskiej (CENWIS)</li>
        <li>Leżajsk - Budynek SOR przy szpitalu powiatowym</li>
        <li>Ustrzyki Dolne - Budynek bloku komunalnego</li>
        <li>Chmielnik - Budynek jednostki straży pożarnej</li>
        <li>Chmielnik - Rozbudowa szpitala powiatowego</li>
        <li>Kielce - Budowa budynku ZOD przy ul. Kusocińskiego</li>
    <br>Łącznie uczestniczyłem w powstaniu ponad 50 projektów. Przebudowy, rozbudowy, remonty i budowy. Obiekty od budynków gospodarczych po budynki oświaty do 5500m&#178; powierzchni użytkowej.
    </p>

    <h3>Używane programy:</h3>
        <li>ZWCAD &emsp;&emsp;&emsp;&#9733;&#9733;&#9733;&#9733;&#9734;</li>
        <li>AUTOCAD&emsp;&emsp;&#9733;&#9733;&#9733;&#9733;&#9734;</li>
        <li>SPECBUD&emsp;&emsp;&#9733;&#9733;&#9733;&#9733;&#9734;</li>
        <li>ROBOT &emsp;&emsp;&emsp;&#9733;&#9733;&#9733;&#9734;&#9734;</li>
        <li>ARCHICAD &emsp; &#9733;&#9734;&#9734;&#9734;&#9734;</li>

{% endblock %}